extends layout

block content
	#skrollr-body.div

		<!-- http://ihatetomatoes.net/how-to-create-a-parallax-scrolling-website/#mab-10201 -->

		nav 
			ul
				li
					a(href="#div-eu")= t('app.eu.titulo')
				li
					a(href="#div-sobre-min")= t('app.sobremim.titulo')
				li
					a(href="#div-experiencia")= t('app.experiencia.titulo')
				li
					a(href="#div-certificacoes")= t('app.certificacoes.titulo')
				li
					a(href="#div-cursos")= t('app.cursos.titulo')
				li
					a(href="#div-contato")= t('app.contato.titulo')

		section#div-eu.homeSlide
			div.bcg-mask-principal &nbsp;
			div.bcg(data-anchor-target="#div-eu")
				div.hsContainer
					div.hsContent.first(data-center="opacity: 1", data-bottom="opacity: 0" , data-anchor-target="#div-eu h2")
					
						div#idiomas
							ul
								li 
									a#de(href='/?setLng=pt') 
										span.seta <
										span.texto Português
								li
									a#de(href='/?setLng=en') 
										span.seta <
										span.texto English
								li
									a#de(href='/?setLng=fr') 
										span.seta <
										span.texto Français

						.caixa
							.opacidadeacima
							.textoacima
								h2 Diego Silva Pires
								p= t('app.eu.introducao')
								br

								p.subtexto= t('app.eu.instrucao')
								
								p.setabaixo 
									a(href="#div-sobre-min") ↓
		
		section#div-sobre-min
			div.bcg(data-anchor-target="#div-sobre-min")
				div.hsContainer
					div.hsContent(data-center="opacity: 0", data-106-top="opacity: 1", data-anchor-target="#div-sobre-min h2")
		
						h2= t('app.sobremim.titulo')

						p= t('app.sobremim.paragrafo1')

						p= t('app.sobremim.paragrafo2')

						p= t('app.sobremim.paragrafo3')

						p= t('app.sobremim.paragrafo4')

						p= t('app.sobremim.paragrafo5')

						p= t('app.sobremim.paragrafo6_1')
							a(href='http://diegosilvapires.deviantart.com/', target='_blank')= t('app.sobremim.paragrafo6_2') 
							,&nbsp;
							a(href='http://flickr.com/photos/diegosilvapires', target='_blank')= t('app.sobremim.paragrafo6_3') 
							,&nbsp;
							a(href='http://blog.diegopires.com.br', target='_blank')= t('app.sobremim.paragrafo6_4') 
							&nbsp;
							span= t('app.sobremim.paragrafo6_5')

						p.setabaixo 
							a(href="#div-experiencia") ↓

		section#slide-3
			div.bcg-mask &nbsp;
			h2.legenda 
				a(href='https://www.flickr.com/photos/diegosilvapires/8109958888/', target='_blank') Mixture
			div.bcg(data-anchor-target="#slide-3")
				div.hsContainer
					div.hsContent &nbsp;

		section#div-experiencia
			div.bcg(data-anchor-target="#div-experiencia")
				div.hsContainer
					div.hsContent(data-center="opacity: 0", data-106-top="opacity: 1", data-anchor-target="#div-experiencia h2")
						
						h2= t('app.experiencia.titulo')
						h4= t('app.experiencia.exp1_titulo') 
						p= t('app.experiencia.exp1_descricao') 
						
						h4= t('app.experiencia.exp2_titulo') 
						p= t('app.experiencia.exp2_descricao') 

						h4= t('app.experiencia.exp3_titulo') 
						p= t('app.experiencia.exp3_descricao') 

						h4= t('app.experiencia.exp4_titulo') 
						p= t('app.experiencia.exp4_descricao') 
						
						p.setabaixo 
							a(href="#div-certificacoes") ↓

		section#slide-5
			div.bcg-mask &nbsp;
			h2.legenda 
				a(href='https://www.flickr.com/photos/diegosilvapires/8255594803/', target='_blank') Lights in the street 2
			div.bcg(data-anchor-target="#slide-5")
				div.hsContainer
					div.hsContent &nbsp;
						

		section#div-certificacoes
			div.bcg(data-anchor-target="#div-certificacoes")
				div.hsContainer
					div.hsContent(data-center="opacity: 0", data-106-top="opacity: 1", data-anchor-target="#div-certificacoes h2")

						h2= t('app.certificacoes.titulo')
						h3 Microsoft
						ul
							li Microsoft Certified Solutions Developer: Web Applications (MCSD)
								ul
									li 70 787 - Developing Windows Azure and Web Services
									li 70 486 - Developing ASP.NET MVC 4.5 Web Applications
									li 70 480 - Programming in HTML5 with JavaScript and CSS3
							li Outras
								ul
									li 70 515 - TS: Web Applications Development with Microsoft .NET Framework 4
									li 70 562 - TS: Microsoft .NET Framework 3.5, ASP.NET Application Development
						
						h3= t('app.certificacoes.idioma')
						ul
							li= t('app.certificacoes.tcfquebec')
						
						p.setabaixo 
							a(href="#div-cursos") ↓

		section#slide-7
			div.bcg-mask &nbsp;
			h2.legenda 
				a(href='https://www.flickr.com/photos/diegosilvapires/7963130296/', target='_blank') O dono da torre
			div.bcg(data-anchor-target="#slide-7")
				div.hsContainer
					div.hsContent &nbsp;

		section#div-cursos
			div.bcg(data-anchor-target="#div-cursos")
				div.hsContainer
					div.hsContent(data-center="opacity: 0", data-106-top="opacity: 1", data-anchor-target="#div-cursos h2")

						h2= t('app.cursos.titulo')
						h3 Caelum
						p RR 71 - Desenvolvimento ágil para web com Ruby on Rails 3 - 11/2013
						p RR 75 - Ruby e Rails avançados: lidando com problemas do dia a dia - 11/2013
						
						h3 Fundação Carlos Alberto Vanzolini
						p Capacitação em Análise de Negócios – BABok 2.0 – 99 horas - Concluído
						
						h3 Toccato Tecnologia 
						p QlikView Professional Layout - 12/2009

						h3 Brás Figueiredo, Cursos Oficiais Microsoft
						p 6463 - Visual Studio 2008 ASP. NET 3.5 – 08/2009
						p 2957 - Advanced Foundations of Microsoft .NET 2.0 Development – 07/2009
						p 2956 - Core Foundations of Microsoft. NET 2.0 Development – 07/2009
						p 2544 - Advanced Web Application Technologies with Microsoft Visual p Studio 2005 – 03/2009
						p 2310 - Developing Microsoft ASP.NET Web Applications Using Visual Studio.NET – 10/2008
						

						p.setabaixo 
							a(href="#div-contato") ↓

		section#slide-9
			div.bcg-mask &nbsp;
			h2.legenda 
				a(href='https://www.flickr.com/photos/diegosilvapires/7963130296/', target='_blank') Home sweet home
			div.bcg(data-anchor-target="#slide-7")
				div.hsContainer
					div.hsContent &nbsp;

		section#div-contato
			div.bcg(data-anchor-target="#div-contato")
				div.hsContainer
					div.hsContent(data-center="opacity: 0", data-106-top="opacity: 1", data-anchor-target="#div-cursos h2")

						h2= t('app.contato.titulo')
						ul
							li 
								i.fa.fa-envelope-o &nbsp;
								a(href='mailto:diego_silva_pires@outlook.com', target='_blank') diego_silva_pires@outlook.com
							li 
								i.fa.fa-book &nbsp;
								a(href='http://blog.diegopires.com.br', target='_blank') Blog
							li 
								i.fa.fa-linkedin &nbsp;
								a(href='http://www.linkedin.com/profile/view?id=67345762', target='_blank') Linkedin
							li
								i.fa.fa-github &nbsp;
								a(href='https://github.com/DiegoPires/', target='_blank') Github
							li 
								i.fa.fa-picture-o &nbsp;
								a(href='http://diegosilvapires.deviantart.com/', target='_blank') Deviantart
							li 
								i.fa.fa-flickr &nbsp;
								a(href='http://flickr.com/photos/diegosilvapires', target='_blank') Flickr
						br
						br